* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    padding: 1rem;
    background-color: #ffffff;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo img {
    padding: 0rem;
    width: 20%;
    background-size: cover;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 2rem;
}

.menu li a {
    font-size: 2rem;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(146, 0, 0);
    border-radius: 50px;
    padding: .5rem 1rem;
}

.hero {
    background-color: #8a0303;
    width: 100%;
    height: 100%;
}

.hero-con {
    display: flex;
}

.hero-info {
    width: 100%;
    padding: 2rem;
}

.hero-info h3 {
    font-size: 5rem;
    color: #ffffff;
}

.hero-info p {
    margin: 1rem 0;
    font-size: 2rem;
    color: #d85730;
}

.hero-info .hero-btn {
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
}

.hero-img img {
    padding: .6rem .2rem;
    width: 50%;
    background-size: cover;
}

.footer-top {
    width: 100%;
    padding: 3rem;
    background-color: #333;
    color: #fff;
}

.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con {
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.2rem;
    border-radius: 5px;
    text-align: center;
}

.footer-top-item-con .info {
    margin-top: 10px;
}

.footer-top-item:nth-child(2) h4 {
    margin-bottom: 1rem;
}

.footer-top-item:nth-child(3) h4 {
    margin-bottom: 1rem;
}

.footer-top-item p {
    margin: 0.5rem 0;
}

.footer-top-item a {
    margin: 0.5rem 0;
    font-size: 0.7rem;
}

.footer-top-item b {
    margin: 0.5rem 0;
    font-size: 2rem;
}
.hero2 {
    background-color: #8a0303;
    width: 100%;
    height: 100%;
}

.hero2-con {
    display: flex;
}

.hero2-info {
    width: 100%;
    padding: 2rem;
}

.hero2-info h3 {
    font-size: 5rem;
    color: #ffffff;
}

.hero2-info p {
    margin: 1rem 0;
    font-size: 2rem;
    color: #d85730;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: .2rem 1rem;
}
