* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      color: #0004ff;
      padding: 10px 20px;
}

.logo img {
      width: 100px;
      height: 100px;
}

nav ul {
      list-style: none;
      display: flex;
}

nav ul li {
      margin-right: 20px;
}

nav ul li a {
      text-decoration: none;
      color: #4976a8;
      padding: 10px 20px;
      border: 2px solid #4976a8;
      border-radius: 5px;
      transition: color 0.3s;
}

nav ul li a:hover {
      color: #fffefd;
}

.home {
      background-color: #4976a8;
      color: #ffffff;
      text-align: center;
      padding: 20px;
}

.new-content {
      background-color: #ffffff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
}

.content-image {
      flex: 1;
}
  
.content-image img {
      width: 100%; 
      height: auto;
      animation: slideIn2 2s ease-out; /* เพิ่มการเลื่อน */
}
  
.content-text {
      flex: 2;
      padding: 80px;
      background-color: #4976a8;
      text-align: center;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      animation: slideIn 2s ease-out; /* เพิ่มการเลื่อน */
}

.content-text img{
      width: 100px;
}

.content-text h2 {
      text-align: center;
      font-size: 28px;
}

.content-text p {
      font-size: 20px;
}

.skills {
      background-color: #4976a8;
      color: #ffffff;
      text-align: center;
      padding: 20px;
}

.skills-category {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
}

.category {
      flex: 1;
      text-align: center;
      border: 2px solid #000;
      padding: 10px;
}

.category p {
      font-size: 20px;
}

.projects {
      background-color: #4976a8;
      color: #ffffff;
      text-align: center;
      padding: 20px;
}

.projects h2 {
      text-align: center;
}

.project {
      color: #ffffff;
      background-color: #4976a8;
      border: 2px solid #002397;
      padding: 20px;
      margin: 10px 0;
      text-align: right;
      justify-content: space-between;
      animation: slideIn 2s ease-out; /* เพิ่มการเลื่อน */
}

.project2 {
      color: #ffffff;
      background-color: #4976a8;
      border: 2px solid #002397;
      padding: 20px;
      margin: 10px 0;
      text-align: center;
      justify-content: space-between;
      animation: slideIn2 2s ease-out; /* เพิ่มการเลื่อน */
}

@keyframes slideIn {
      0% {
          transform: translateX(-100%); /* เริ่มต้นจากข้างขวา */
      }
      100% {
          transform: translateX(0); /* สิ้นสุดที่ตรงกลาง */
      }
}

@keyframes slideIn2 {
      0% {
          transform: translateX(100%); /* เริ่มต้นจากข้างขวา */
      }
      100% {
          transform: translateX(0); /* สิ้นสุดที่ตรงกลาง */
      }
}

.project p {
      text-align: center;
      font-size: 20px;
}

.image-act {
      display: flex;
      justify-content: center;
      margin-top: 10px;
}

.image-act img {
      flex: 1;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
}

.image-cre {
      display: flex;
      justify-content: center;
      margin-top: 10px;
}
.image-cre img {
      flex: 1;
      max-width: 24%;
      height: auto;
      border-radius: 10px;
}

.footer-top {
      width: 100vw;
      height: 100vh;
      padding: 3rem;
      background-color: #333;
      color: #fff;
      background-size: cover;
}
  
.footer-top-con {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
}
  
.footer-top-item-con {
      display: flex;
      margin: 1rem 0;
}
  
.footer-top-item-con .date {
      background-color: #f0f0f0;
      color: #333;
      padding: 0.2rem;
      border-radius: 5px;
      text-align: center;
}
  
.footer-top-item-con .info {
      margin-top: 10px;
}
  
.footer-top-item:nth-child(2) h4 {
      margin-bottom: 1rem;
}
  
.footer-top-item:nth-child(3) h4 {
      margin-bottom: 1rem;
}
  
.footer-top-item p {
      margin: 0.5rem 0;
}
  
.footer-top-item a {
      margin: 0.5rem 0;
      font-size: 0.7rem;
}
  
.footer-top-item b {
      margin: 0.5rem 0;
      font-size: 1rem;
}
